.sponsor-header {
    text-align: center;
}

.reason-box {
    margin: 40px 125px 40px;
    padding: 40px;
    background-color: #D9D9D9;
    font-size: 110%;
    border-radius: 5px;
}

.sponsor-photo {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}

.sponsor-photo>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 150px;
    margin: 10px;
    padding-right: 20px;
}
.sponsor-photo>:not(img) {
    margin-top: 20px;
    line-height: 1.5;
    margin-bottom: auto;
    width: 30em;
}

.sponsor-photo>image{
    float: left;
    width: 44%;
    /* display: inline-block; */
    text-align: center;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}